.logo {
  display: inline-block;
  aspect-ratio: 253 / 33;
  flex: none;
  background-color: currentColor;
  mask: url("./abricot-logo.svg") center / contain no-repeat;
  -webkit-mask: url("./abricot-logo.svg") center / contain no-repeat;
}

.lg {
  width: 250px;
}

.md {
  width: 150px;
}

.sm {
  width: 82px;
}

.brand {
  color: var(--color-brand-primary);
}

.dark {
  color: var(--color-text-dark);
}
