.container {
  width: calc(100% - var(--space-10) * 2);
  min-height: 760px;
  margin: 0 var(--space-10) var(--space-9);
  padding: var(--space-7) var(--space-8);
  border: 1px solid var(--color-border-neutral);
  border-radius: var(--radius-md);
  background: var(--color-background-light);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-5);
}

.heading {
  display: grid;
  gap: var(--space-4);
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.filter {
  display: flex;
  gap: var(--space-3);
}

.search {
  width: 300px;
}

.tasks {
  margin-top: var(--space-7);
  display: grid;
  gap: var(--space-5);
}

.empty {
  padding: var(--space-6);
  border: 1px solid var(--color-border-neutral);
  border-radius: var(--radius-md);
  text-align: center;
}

.status {
  width: 150px;
}

@media (max-width: 1024px) {
  .controls {
    display: grid;
  }
}
